<footer>
  <section class="column-left">
    <h3>Follow Me:</h3>
    <ul>
      <li><a href="http://daplgray.com"><i class="fa fa-link"></i> daplgray</a></li>
      <li><a href="http://twitter.com/davidrayla"><i class="fa fa-twitter"></i>  Twitter</a></li>
      <li><a href="http://github.com/david-ray-wc"><i class="fa fa-github"></i> Github</a></li>
    </ul>
  </section>

  <section class="column-right">
    <h3>Contribute:</h3>
    <ul>
      <li><a href="https://github.com/david-ray-wc/bloilermaker-middleman"><i class="fa fa-github"></i> boilermaker-middleman</a></li>
    </ul>
  </section>
</footer>
